<div class="text-center">
    <h1>SplitIt</h1>

    {{#if currentUser}}
    <h4>Displaying all bills for you</h2>

    <br>
     {{#if message}}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {{/if}}

    {{#if expenses}}
    <table class="table">
        <tr>
            <th>Description</th>
            <th>Total Amount</th>
            <th>Paid By</th>
            <th>Shared With</th>
            <th>Notes</th>
            <th>Created At</th>
        </tr>
        
        {{#each expenses}}
          <tr>
            <td>{{this.description}}</td>
            <td>${{this.totalAmount}}</td>
            <td>{{this.paidBy}}</td>
            <td>
                <ul>
                {{#each this.splitBetween}}
                    <li>{{this}}</li>
                {{/each}}
                </ul>
            </td>
            <td>
                {{#if this.notes}}
                    {{this.notes}}
                {{else}}
                    N/A
                {{/if}}
                
            </td>
            <td>{{this.created_at}}</td>
          </tr>
        {{/each}}
    </table> 
    {{else}}
    <p>Oops.. It looks like there's nothing to display here. Go ahead and <a href="/home/addBill">add some bills!</a></p>
    {{/if}}
    
    {{else}}

        <h3>Please <a href="/login">Login</a> or <a href="/register">Sign Up</a></h3>

    {{/if}}

</div>